<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/madlibs.css">
    <title>Document</title>
</head>
<body>
    
   <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. Everyone went {{verb}} from the Lab. Grabbing 
their favorite {{items}}
or scarf on the way out.</p>>

</body>
</html>